#basic_info{
    margin: 0 auto;
}
.table td{
    width: 60%;
    padding: 10% 0% ;
    border: 1px solid #f5f6f7;
}
.table th{
    width: 30%;
    text-align: center;
    border: 1px solid #f5f6f7;
}
.table{
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
    background: #fff;
    border-radius: 2px;
}
#basic_info h1{
    margin: 0 auto;
    background: #f5f6f7;
    line-height: 2;
    border: 1px solid #d3d6db;
    padding-left: 5%;
    border-radius: 2px;
}

/*--画面サイズが768pxから1024pxまではここを読み込む--*/
@media screen and (min-width:767px)and (max-width:980px) {
    .table td{
        width: 60%;
        padding: 5% 0% ;
        border: 1px solid #f5f6f7;
    }

}

 /*--画面サイズが1024pxからはここを読み込む--*/
 @media screen and (min-width:1024px) {
    .table td{
        width: 60%;
        padding: 5% 0% ;
        border: 1px solid #f5f6f7;
    }
    
 }