@import "reset.css";

button{
    background: #4267b2;
    color: white;
}
h1{
    text-align: center;
}
form{
    text-align: center;
}
p{
    display: block;
    text-align: center;
}
th{
    text-align: left;
}
table{
    margin: 0 auto;
}
th,td{
    line-height: 2rem;
}