body{
    background: #F2F3F5;
}
button{
    background: #4267b2;
    color: white;
}
form{
    display: block;
    text-align: center;
}
h1{
    text-align: center;
}
table th, td{
    line-height: 2rem;
}
th{
    text-align: left;
}
table{
    margin: 0 auto;
}
a{
    display: block;
    text-align: center;
}
