/*--画面サイズが768pxから1024pxまではここを読み込む--*/
@media screen and (min-width:767px)and (max-width:1024px) {
}

 /*--画面サイズが1024pxからはここを読み込む--*/
 @media screen and (min-width:1024px) {

    .header_logo{
        background-color:  #4267b2;
        padding:6px 3px 0;
    }
    
    .header_top{
        width: 100%;
        position: relative;
    }
    .header_seach input[type="text"]{
        line-height: 30%;
        width: 50%;
    }
    header img{
        width: 3%;
    }
    .header_nav{
        display: block;
        position: absolute;
        right: 3%;
        top:25px;
    }
    .header_nav a{
        text-decoration: none;
        color:white;
        font-size: 1rem;
        border-right: 1px solid white;
        padding: 0 20px;
    }
    .header_nav a:last-child{
        border-right: none;
    }
    .header_nav a:hover{
        opacity: 0.5;
    }
    .header_seach{
        position: absolute;
        top:20px;
        left:8%;
        display: flex;
    }
    .header_seach input[type="text"]{
        width: 300px;
        line-height: 20px;
    }
    /* headerここまで */
    /* wrapperここから */
    #wrapper{
        margin-bottom: 20px;
    }
    .wrapper_image img{
        display: block;
        max-width:70%;
        height: 700px;
        object-fit: cover;
        margin: 0 auto;
    }
    .wrapper_nav a{
        border-left: 1px solid #F2F3F5;
        text-decoration: none;
        font-size: 1rem;
        position: relative;
        left: 5%;
        color:#385898;
        padding:5px 15px;
        margin: 0 auto;
        line-height: 50px;
    }
    .wrapper_nav a:last-child{
        border-right: 1px solid #F2F3F5;
    }
    .wrapper_nav{
        background-color: white;
        max-width: 65%;
        margin: 0 auto;
        text-align: center;

    }
    .users_img img{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 3px solid white;
    }
    /* 丸型のアイコン共通 */
    .wrapper_img{
        position: absolute;
        top:650px;
        left:300px;
    }
    #users p{
        color:white;
        font-size: 1.5rem;
        position: absolute;
        top:710px;
        left:450px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    }
    


 }