@import "reset.css";

#post p img{ 
    width: 55%;
}
#post .left{
    clear: both;
}
#post .center{
    font-size: 10px;
}
#post{
    border-radius: 20px;
    margin: 20px 40px;
    border: 1px solid #F2F3F5;
}
.post_receive{
    margin: 20px 0 0;
    background-color: white;
    border-radius: 10px;
}
.post_img img{
    float: left;
}
h1{
    text-align: center;
}


@media screen and (min-width:767px)and (max-width:980px) {

}

 /*--画面サイズが1024pxからはここを読み込む--*/
 @media screen and (min-width:1024px) {
    #post{
        margin: 220px auto;
        width: 65%;
    }
    #post p img{ 
        width: 45%;
    }
    
    

 }